@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

#altera-fonte {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1F2630;
}

hr {
	text-align: center;
    border: 0;
	border-top: 1px solid #ffffff;
}

#navbar-sombra {
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

#banner-principal {
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.titulos {
    color: whitesmoke;
    margin-top: 50px;
    font-size: 80px;
    
}

#txt-last {
    color: whitesmoke;
    text-align: justify;
    margin-right: 40px;
}

#txt-last2 {
    color: whitesmoke;
    text-align: justify;
    margin-top: 60px;
    margin-left: 40px
}

#titulo-jogadores {
    text-align: center;
}

.txt-card {
    color: whitesmoke;
}

#container-baixo {
    margin-top: 40px;
}

#container-baixo2 {
    margin-top: 40px;
}

#sobre-major {
    text-align: center;
}

#txt-major{
    color: whitesmoke;
    text-align: center;

}

#video-major {
    text-align: center;
    margin-top: 16px;
    border-radius: 10px;
}

#container-surgimento {
    margin-top: 40px;
}

#titulo-surgimento {
    text-align: center;

}

#txt-surgimento {
    color: whitesmoke;
    text-align: justify;
}

#foto-surgimento {
    margin-top: 40px;
}

#baixo-foto {
    color: whitesmoke;
}